body {
    background-color: rgb(2, 133, 104);
 }

 p {
   color:  rgb(201, 194, 194);
 }

 h1 {
   font-style: oblique;
 }

 .kibe {
   color: rgb(255, 255, 255);
   font-size: 20px;
 }

 .img1 {
  width: 35%;
 }