body {
    background-color: rgb(233, 248, 150);
 }

 p {
   color:  rgb(243, 83, 83);
 }

 h1 {
   font-style: oblique;
 }

 .kibe {
   color: rgb(62, 140, 218);
   font-size: 20px;
 }

 .img1 {
  width: 35%;
 }